@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer {
  :root {
    --color-main: #F5F5F5;
    --color-secondary: #FFCEE3;
    --color-normal: #FF85BB;
    --color-last: #061d53;
    --text-normal: #000;
  }

  .dark {
    --color-main: #061d53;
    --color-secondary: #FF85BB;
    --color-normal: #FFCEE3;
    --color-last: #F5F5F5;
    --text-normal: #fff;
  }
}